<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head')%>

<body class="home">
 
  <%- include ('./partials/header')%>
    
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/banner-2.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/banner-3.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/images/m[197].jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <img src="" alt="" width="100%">


    <main class="main">


        <div class="titulo-productos">
            <h1>Ofertas</h1>
            <a href="">
                <a href="#">
                    <h4>Ver todos</h4>
                </a>
            </a>
        </div>

        <!-- Comienza carrousel de productos -->

       
        <section class="banner-productos">

         <% productos.forEach(producto => { %>
            <article>
                <img src="/images/<%= producto.imagen %>" alt="mouse">

                <div class="descripcion-de-producto">
                    <h3><%= producto.nombre %> <%= producto.marca %></h3>

                  
                    <span><%= producto.precio %></span>
                        
                    <h5>En <%= producto.cuotas %> cuotas de $555,00 </h6>
                        <a href="">
                            <p>Comprar</p>
                        </a>
                </div>

            </article>
            <% }) %> 

            <!-- Ejemplo para mostrar 4 productos -->
            <!-- <%# for( let i = 0; i <= 3; i++ ) { %>
                <article>
                    <img src="/images/<%#= productos[i].imagen %>" alt="mouse">
    
                    <div class="descripcion-de-producto">
                        <h3><%#= productos[i].nombre %> <%#= productos[i].marca %></h3>
    
                        <span><%#= productos[i].precio %></span>
                        
                        <h5>En <%#= productos[i].cuotas %> cuotas de $555,00 </h6>
                            <a href="">
                                <p>Comprar</p>
                            </a>
                    </div>
    
                </article>
            
            <%# } %>
 -->
        </section>


        <!-- termina la seccion de productos -->

        <!-- Comienza iconos de productos -->
        <h1 class="desc-dispositivos">Todos tus dispositivos favoritos</h1>
        <div class="dispositivos">
            <div class="contenedor-dispositivos">
                <a href=""><i class="fas fa-headphones"></i></a>
                <p>Auriculares</p>
            </div>
            <div class="contenedor-dispositivos">
                <a href=""><i class="fas fa-keyboard"></i></a>
                <p>Teclados</p>
            </div>
            <div class="contenedor-dispositivos">
                <a href=""><i class="fas fa-desktop"></i></a>
                <p>Monitores</p>
            </div>
            <div class="contenedor-dispositivos">
                <a href=""><i class="fas fa-mouse"></i></a>
                <p>Mouse</p>
            </div>
        </div>
        </div>

        |
    </main>
    <section class="banner-marcas">

    </section>
  
  <%- include ('./partials/footer') %>

</body>

</html>
