<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>

        <%- include('./partials/header') %>

            <main>

                <section class="datos-profile">

                    
                    
                    <span style="color: white;">Foto de perfil</span>
                    <img class="img-fluid rounded-start" src="/images/users/<%= user.image %> " alt="">
                       <form class="row g-3" style="margin: 0px 10px" enctype="multipart/form-data">
                        <div class="col-md-6" >
                            <label for="inputEmail4" class="form-label" style="color:white;">Nombre</label>
                            <div type="text" class="form-control" id="inputName4" ><%= user.name %> </div>
                          </div>
                          <div class="col-md-6">
                            <label for="inputEmail4" class="form-label" style="color: white;">Apellido</label>
                            <div type="text" class="form-control" id="inputLast_name4"><%= user.last_name %> </div>
                          </div>
                        <div class="col-md-6">
                          <label for="inputEmail4" class="form-label" style="color: white;">Email</label>
                          <div type="email" class="form-control" id="inputEmail4"><%= user.email %> </div>
                        </div>
                        <div class="col-md-6">
                          <label for="inputPassword4" class="form-label" style="color: white;">Password</label>
                          <div type="password" class="form-control" id="inputPassword4"> '*******' </div>
                        </div>
                        <div class="col-12">
                          <label for="inputAddress" class="form-label" style="color: white;" >Direccion</label>
                          <div type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"><%= user.addresses.address ? user.addresses.address : '---' %> </div>
                        </div>
                        <div class="col-12">
                          <label for="inputAddress2" class="form-label" style="color: white;">Pais</label>
                          <div type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"><%= user.addresses.country ? user.addresses.country : '---' %> </div>
                        </div>
                        <div class="col-md-6">
                          <label for="inputCity" class="form-label" style="color: white;">Ciudad</label>
                          <div type="text" class="form-control" id="inputCity"><%= user.addresses.city ? user.addresses.city : '---' %> </div>
                        </div>
                        <div class="col-md-4">
                          <label for="inputState" class="form-label" style="color: white;">Provincia</label>
                          <div type="text" class="form-control" id="inputCity"><%= user.addresses.province ? user.addresses.province : '---' %> </div>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <label for="inputZip" class="form-label" style="color: white;">Codigo Postal</label>
                          <div type="text" class="form-control" id="inputZip" disabled><%= user.addresses.cp ? user.addresses.cp : '---' %></div>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label" style="color: white;">Telefono</label>
                            <div type="number" class="form-control" id="phone" di><%= user.addresses.phone ? user.addresses.phone : '---' %> </div>
                          </div>
                        <div class="col-12">
                          
                        </div>
                        <div class="col-12">
                          <a href="/users/editProfile" class="btn btn-primary" style="color: white;">Editar</a>
                        </div>
                      </form>
                   
                </section>



            </main>

            <%- include('./partials/footer') %>




    </body>

</html>